*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --bg-py: #7000ff;
  --bg-gold: #ffff00;
  --bg-green: #aaff77;
}

.container {
  width: 1250px;
  margin: auto;
}

@media screen and (max-width: 1280px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}
